<header id="header" class="header">
    <nav id="nav" class="nav">
        <ul class="nav-logo">
            <li id="logo">
                <a routerLink="/home">LOGO</a>
            </li>

            <!-- //TODO guests -->
        </ul>
        <ul id="nav-ul" class="nav-ul">
            <li>
                <a routerLink="/home">Home</a>
            </li>

            <li>
                <a routerLink="/trips">All trips</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>

        <!-- //TODO user loged -->
        <ul id="nav-ul" class="nav-ul">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/trips">All trips</a>
            </li>
            <li>
                <a routerLink="/trips/new-game">Add new trip</a>
            </li>
            <li>
                <a routerLink="/trips/my-trips">My trips</a>
            </li>
            <li routerLink="/profile">'s profile</li>
            <li>Logout</li>

        </ul>


    </nav>
</header>