.main {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-evenly;
    background-image: url("../../../utils/saif71-com-AB5NfD8PXcI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.trip-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;

}

.section-trip {
    max-width: 300px;
    border: solid 2px;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
    background-color: #8d868670;   
    box-shadow: 3px 2px 5px black;
}

.trip-item-image {
    width: 200px;
    height: 200px;
}


#footer {

    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.btnDetails {
    cursor: pointer;
    padding: 2px 17px;
}