<p>trip-edit works!</p>


<div class="div-edit-trip">
    <section class="sectiom-edit-trip">
        <form class="form-edit-trip" #form="ngForm" method="POST" (ngSubmit)="editTrip(form)">
            <h2>EDIT YOUR TRIP</h2>
            <label for="name"></label>
            <input  [(ngModel)]="trip!.name" ngModel type="text" name="name" >
            <label for="description">Description</label>
            <textarea   [(ngModel)]="trip!.description" ngModel name="description" id="" cols="40" rows="7" 
            ></textarea>
            <label for="imageUrl">imageUrl</label>
            <input [(ngModel)]="trip!.imageUrl" ngModel type="text" name="imageUrl"  >
            <button>EDIT</button>
        </form>
    </section>
 
</div>