.sectiom-create-trip {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../utils/markus-winkler-Q2J2qQsoYH8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-add-trip {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid 2px;
    border-radius: 9px;
    width: 450px;
    height: 550px;
    justify-content: space-around;
    padding-right: 40px;
    background-color: #8d868629;
    box-shadow: 3px 2px 5px black;
}

.btnAdd {
    cursor: pointer;
    margin: 0 10px;
}

.error {
    color: red;
    margin: 0;
    font-size: 20px;
    background-color: #000000b0;
    padding: 0 5px;

}



@media(max-width:600px) {
    .form-add-trip{
        width: 90%;
        height: 80vh;
        padding-right: 10px;
    }


    label{
        font-size: 25px;
     }

     
        .btnAdd{
            padding: 5px 50px;
        }
    
 
}

@media(max-width:400px) {

  

    .form-add-trip{
        width: 100%;
        height: 100vh;
        padding-right: 5px;
    }

    label{
       font-size: 21px;
    }

    .btnAdd{
        padding: 8px 36px;
    }



}