<div id="login-page">
    <div id="login-form" class="login-form">
        <h2>LOGIN PAGE</h2>
        <form #form="ngForm" id="form" method="post" (ngSubmit)="login(form)">
            <input #emailInput="ngModel" ngModel type="email" name="email" placeholder="Email" class="login-input"
                required email />
            <input #passwordInput="ngModel" ngModel type="password" name="password" placeholder="Password"
                class="login-input"  />
            <button class="btnSubmit login-input">Sign Up</button>
            <h4>
                <a class="login-input" id="a" routerLink="/register">Don't Have An Account? Sign up!</a>
            </h4>
        </form>
    </div>
</div>