<p>trip-details works!</p>

<section class="section-details">
    <h2>Trip name : {{trip?.title}}</h2>
    <p>Description : {{trip?.description}}</p>
    <img class="section-details-img" src={{trip?.imageUrl}} alt="Trip">
    <button [routerLink]="['/trips/edit/',trip?._id ]">Edit</button>
   
    <button (click)="delTrip(trip!._id)">Delete</button>
    <button (click)="like(trip!._id)" >LIKE</button>
    <button [routerLink]="['/comments/add-comment/',trip?._id ]">ADD COMMENT</button>

 

  

</section>