.section-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;   
    justify-content: space-between;
}


.section-details-img{
    max-width: 1000px;
    max-height: 800px;
}

.article-details{
   min-width: 300px;
   max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 9px;
    padding: 20px;
    background-color: #8d868670;   
    box-shadow: 3px 2px 5px black;
}

.info{
    margin: 5px;
}

.Btn{
    margin: 3px;
    cursor: pointer;
}