.section-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}


.section-details-img {
    max-width: 1000px;
    max-height: 800px;
}

.article-details {
    min-width: 300px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 9px;
    padding: 20px;
    background-color: #8d868670;
    box-shadow: 3px 2px 5px black;
}

.info {
    margin: 5px;
}

.Btn {
    margin: 3px;
    cursor: pointer;
}


@media(max-width:600px) {

    .header{
        width: 600px;
       
    }
    .section-details{
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-bottom: 0px;
        background-color: gray;
        
    }
    .section-details-img{
        width: 600px;
    }

}

@media(max-width:400px) {

    .header{
        width: 400px;
       
    }

    .section-details{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin-bottom: 0px;
        
    }
    .section-details-img{
        width: 380px;
    }

    .article-details{
        height: 450px;
        display: flex;
        flex-direction: column;
    justify-content: space-around;
    }

    .Btn{
        padding: 4px 13px;
    }

    h4,h2,p{
        font-size:20px;
    }

}

